standby_mode = 'on'
primary_conninfo = 'host={{ hostvars[groups.master[0]].inventory_hostname }} port={{ serverconf_db_port }} user={{ nodename }} sslmode=verify-ca sslcert=/etc/xroad/postgresql/server.crt sslkey=/etc/xroad/postgresql/server.key sslrootcert=/etc/xroad/postgresql/ca.crt'

